@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  /* mocking native UI */
  cursor: default !important;
  /* remove text selection cursor */
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* remove text selection */
  user-drag: none;
  /* disbale element dragging */
}

.button {
  transition: 0.3s;
}

.title,
.subtitle {
  font-family: Montserrat, sans-serif;
  font-weight: normal;
}

.animated {
  transition-duration: 0.15s;
}

.sidebar {
  background: url("https://source.unsplash.com/RVF0ngUujks");
  background-size: cover;
  border-radius: 6px 0px 0px 6px;
  z-index: 10;
}
.sidebar .sidebarContainer {
  padding: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
.sidebar .sidebarContainer .tag {
  background: rgba(255, 255, 255, 0.25);
  color: rgba(255, 255, 255, 0.8);
}
.sidebar .sidebarContainer .title {
  color: white !important;
}
.sidebar .sidebarContainer .subtitle {
  color: rgba(255, 255, 255, 0.8) !important;
}
.sidebar .sidebarFooter {
  display: none;
  color: red;
}

.questionBox {
  height: 100%;
  position: relative;
  display: flex;
}
.questionBox .titleContainer {
  background: #29c5dc;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
}
.questionBox .titleContainer h2 {
  color: white;
  padding: 18px;
}
.questionBox .quizForm {
  display: block;
  white-space: normal;
  height: 100%;
  width: 100%;
}
.questionBox .quizForm .quizFormContainer {
  height: 100%;
  margin: 15px 18px;
}
.questionBox .quizForm .quizFormContainer .field-label {
  text-align: left;
  margin-bottom: 0.5rem;
}
.questionBox .quizCompleted {
  width: 100%;
  padding: 25px;
}
.questionBox .questionContainer {
  white-space: normal;
  height: 100%;
  width: 100%;
}
.questionBox .questionContainer .optionContainer {
  margin-top: 12px;
  flex-grow: 1;
}
.questionBox .questionContainer .optionContainer .option {
  border-radius: 290486px;
  padding: 9px 18px;
  margin: 0 18px;
  margin-bottom: 12px;
  transition: 0.3s;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
  border: transparent 1px solid;
}
.questionBox .questionContainer .optionContainer .option.is-selected {
  border-color: #209cee;
  background-color: white;
}
.questionBox .questionContainer .optionContainer .option:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.questionBox .questionContainer .optionContainer .option:active {
  transform: scaleX(0.9);
}
.questionBox .questionContainer .questionFooter {
  width: 100%;
  align-self: flex-end;
}
.questionBox .questionContainer .questionFooter .pagination {
  margin: 15px 25px;
}
.questionBox .questionContainer .questionFooter .progressContainer {
  margin: 15px 25px;
}

@media screen and (min-width: 769px) {
  .container {
    height: 100%;
  }
  .container .columns {
    height: 100%;
  }
  .container .columns .column {
    height: 100%;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .questionBox {
    align-items: center;
    justify-content: center;
  }
  .questionBox .questionContainer {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .sidebar {
    height: auto !important;
    border-radius: 6px 6px 0px 0px;
  }
}